* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto Mono", monospace;
  color: #333;
}

.container {
  max-width: 140rem;
  margin: 0 auto;
}

.id-card {
  width: 30rem;
  padding: 1rem 2.5rem;
  border: 0.2rem solid #000;
  border-radius: 1rem;
}
